<div class="heroes-list__item">
    <header>
        <svg [matMenuTriggerFor]="menu" class="more-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
    </header>

    <mat-menu #menu="matMenu" xPosition="before">
        <button (click)="modalHeroDetail()" mat-menu-item>{{ 'HEROES.ACTIONS.VIEW' | translate }}</button>
        <button (click)="modalHeroUpdate()" mat-menu-item>{{ 'HEROES.ACTIONS.EDIT' | translate }}</button>
        <button (click)="deleteHero()" mat-menu-item>{{ 'HEROES.ACTIONS.DELETE' | translate }}</button>
    </mat-menu>

    <div class="avatar">
        <svg *ngIf="!hero.image" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 45.532 45.532" xml:space="preserve" class="hero-profile"><g _ngcontent-gyu-c16=""><g _ngcontent-gyu-c16="" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-gyu-c16="" d="M22.766,0.001C10.194,0.001,0,10.193,0,22.766s10.193,22.765,22.766,22.765c12.574,0,22.766-10.192,22.766-22.765   S35.34,0.001,22.766,0.001z M22.766,6.808c4.16,0,7.531,3.372,7.531,7.53c0,4.159-3.371,7.53-7.531,7.53   c-4.158,0-7.529-3.371-7.529-7.53C15.237,10.18,18.608,6.808,22.766,6.808z M22.761,39.579c-4.149,0-7.949-1.511-10.88-4.012   c-0.714-0.609-1.126-1.502-1.126-2.439c0-4.217,3.413-7.592,7.631-7.592h8.762c4.219,0,7.619,3.375,7.619,7.592   c0,0.938-0.41,1.829-1.125,2.438C30.712,38.068,26.911,39.579,22.761,39.579z" fill="#000000" data-original="#000000"></path></g></g></svg>
        <img *ngIf="hero.image" [src]="hero.image" alt="{{hero.name}}">
    </div>

    <div class="details">
        <h3 class="name">
            {{hero.name}}
        </h3>
        <div class="stats">
            {{hero.strength}} - {{hero.speed}} - {{hero.endurance}}
        </div>
        <div class="role">

            {{ 'HEROES.SINGULAR' | translate }}

        </div>
    </div>
    <footer class="actions">

        <button (click)="modalHeroDetail()" class="btn" mat-raised-button color="primary">{{ 'HEROES.ACTIONS.VIEW_DETAIL' | translate }}</button>
    </footer>
</div>
