.heroes-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: grid;
    grid-gap: 30px;
}

@media(max-width:360px){
    .heroes-list {
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    }
}


.table-actions {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  &__filters {
    display: flex;
    margin-right: 16px;
    .btn {
      margin-right: 12px;
      background: #ec1d24;
    }

    .search {
      display: flex;
      align-items: center;
      border: 1px solid #b3b3b3;
      border-radius: 5px;

      .icon {
        margin: 0 8px;
        width: 22px;
        height: 20px;
        fill: #9b9b9b;
      }

      input {
        border: none;
        height: 100%;
        padding: 0;
        outline: none;
      }
    }
  }

  &__change-view {
    display: flex;

    .change-view-btn {
      color: #b3b3b3;
      background-color: transparent;
      margin-right: 4px;
      border: none;
      border-radius: 5px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 0;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        color: #ec1d24;
      }

      svg {
        width: 34px;
        height: 34px;
        fill: currentColor;
      }
    }
  }
}

.table {
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 9%), 0px 8px 10px 1px rgb(0 0 0 / 10%), 0px 3px 14px 2px rgb(84 84 84 / 12%);
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  overflow: hidden;

  .mat-table {
    width: 100%;
  }

  

  .mat-column-id {
    width: 80px;
  }

  .mat-column-name {
    font-weight: 500;
  }

  .mat-column-actions {
    width: 240px;
  }

  .mat-column-image {
    width: 84px;
    padding: 12px 0;
  }



  .cell-actions {
    display: flex;
    align-items: center;

    .view, .edit {
      margin-right: 12px;
      padding: 8px 16px;
      border: 1px solid;
      background-color: transparent;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.2s;
      font-weight: 600;
    }

    .view {
      color: #ec1d24;
      border-color: #ec1d24;

      &:hover {
        background-color: #ec1d24;
        color: #fff;
      }
    }

    .edit {
      color: #000;
      border-color: #000;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }

    .remove-icon {
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        fill: red;
      }
    }
  }
}

.hero-stat {
  .current-stat {
    font-weight: 500;

    &.green {
      color: green;
    }

    &.orange {
      color: darkorange;
    }

    &.red {
      color: red;
    }
  }

  .max-stat {
    font-weight: 500;
  }
}

