<div class="dialog-header">
  <h2 class="title" mat-dialog-title>{{ 'HEROES.REMOVE_TITLE' | translate }}</h2>
</div>


<mat-dialog-content class="mat-typography">
  <div class="hero-detail">
    <div class="hero-detail__item">
      <strong>{{'DELETE_CONFIRM_MESSAGE' | translate}} {{hero?.name}}?</strong>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions class="dialog-actions--space-between">

  <div>
    <button [mat-dialog-close]="true" mat-stroked-button>{{ 'CANCEL' | translate }}</button>
    <button (click)="deleteHero()" mat-stroked-button cdkFocusInitial>{{ 'DELETE' | translate }}</button>
  </div>

</mat-dialog-actions>
