<div class="dialog-header">
  <h2 class="title" mat-dialog-title>{{ 'HEROES.DETAIL_TITLE' | translate }}</h2>
</div>


<mat-dialog-content class="mat-typography">
  <div class="hero-detail">
    <div class="hero-detail__item">
      <strong>¿Seguro que quieres eliminar a {{hero.name}}?</strong> 
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions class="dialog-actions--space-between">

  <div>
    <button [mat-dialog-close]="true" mat-stroked-button e>Cancelar</button>
    <button (click)="deleteHero()" mat-stroked-button mat-dialog-clos cdkFocusInitial>Eliminar</button>
  </div>

</mat-dialog-actions>
